<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Hangman</title>
    <link rel="stylesheet" href="css/normalize.css"/>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body>
<h1>Hangman</h1>
<ul>
    <li>Question: <span th:text="${game.question}"/></li>
    <li>Tried: <span th:text="${game.tried}"/></li>
    <li>Chance: <span th:text="${game.chance}"/></li>
</ul>
<form id="guess" action='guess' method='post' th:if="${!game.end}">
    <input name="letter" autofocus="true" type="TEXT" maxlength="1"/>
    <input type="submit" value="OK"/>
</form>
<form id="start-game" action='game' method='post' th:if="${game.end}">
    <h1 th:if="${game.win}">You Win</h1>
    <h1 th:if="${game.lose}">No Luck</h1>
    <input type='submit' value='Play Again'/>
    <p><a href="records">see records</a></p>
</form>
<p><a href="https://github.com/madcocomo/startup-kata/tree/master/springboot">see source code</a></p>
</body>
</html>
