<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Hangman</title>
</head>
<body>
<h1>Hangman</h1>
<ul>
    <li>Question: <span th:text="${game.question}"/></li>
    <li>Tried: <span th:text="${game.tried}"/></li>
    <li>Chance: <span th:text="${game.chance}"/></li>
</ul>
<form id="guess" action='guess' method='post' th:if="${game.question != 'APPLE'}">
    <input name="letter" autofocus="true" type="TEXT" maxlength="1"/>
    <input type="submit" value="OK"/>
</form>
<form id="start-game" action='game' method='post' th:if="${game.question == 'APPLE'}">
    <h1>You Win</h1>
    <input type='submit' value='Play Again'/>
</form>
</body>
</html>