<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hangman game records</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/normalize.css"/>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body style="margin:0 auto;">
<h1 id="title">Game records</h1>
<ul>
    <li id="played">Played: <span th:text="${records.played()}"></span></li>
    <li id="won">Won: <span th:text="${records.won()}"></span></li>
    <li id="lost">Lost: <span th:text="${records.lost()}"></span></li>
</ul>
<p><a href="https://github.com/madcocomo/startup-kata/tree/master/springboot">see source code</a></p>
</body>
</html>
